/**
 * APN Bootstrap Sass Theme
 * Author: Peter Veerman
 * Version: 0.0.1
 */
/* LIBS - Libraries and other third party plugins */
/* BASE - Base styles, variables, mixis, etc. */
/**
 * Functions
 */
/**
 * Math
 */
/**
 * Converters
 */
/**
 * Variables
 */
/**
 * Ratios
 */
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Dimensions
 */
/**
 * Padding
 */
/**
 * Margin
 */
/**
 * Times
 */
/**
 * Other
 */
/**
 * Normalize
 */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  font-size: 50%; }
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  font-size: 70%; }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  font-size: 80%; }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  font-size: 100%; }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  font-size: 120%; }
/**
 * Base
 */
body {
  font-family: 'Lato', 'Droid Serif';
  background-color: #383838; }

h3 {
  margin: 0px 0px;
  font-size: 2.25rem;
  line-height: 3.64058rem;
  max-width: 65rem; }

p {
  font-size: 1rem;
  line-height: 1.61803rem;
  max-width: 65rem; }

img {
  margin: 10px 0px; }

row {
  padding: 20px; }

video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden; }

/**
 * Animations
 */
@-moz-keyframes fadeInDownAuto {
  0% {
    -moz-transform: translateY(-80px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    opacity: 1; } }
@-webkit-keyframes fadeInDownAuto {
  0% {
    -webkit-transform: translateY(-80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@-o-keyframes fadeInDownAuto {
  0% {
    -o-transform: translateY(-80px);
    opacity: 0; }
  100% {
    -o-transform: translateY(0);
    opacity: 1; } }
@-ms-keyframes fadeInDownAuto {
  0% {
    -ms-transform: translateY(-80px);
    filter: alpha(opacity=0); }
  100% {
    -ms-transform: translateY(0);
    filter: alpha(opacity=100); } }
@keyframes fadeInDownAuto {
  0% {
    transform: translateY(-80px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes fadeInUpAuto {
  0% {
    -moz-transform: translateY(80px);
    opacity: 0; }
  100% {
    -moz-transform: translateY(0);
    opacity: 1; } }
@-webkit-keyframes fadeInUpAuto {
  0% {
    -webkit-transform: translateY(80px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@-o-keyframes fadeInUpAuto {
  0% {
    -o-transform: translateY(80px);
    opacity: 0; }
  100% {
    -o-transform: translateY(0);
    opacity: 1; } }
@-ms-keyframes fadeInUpAuto {
  0% {
    -ms-transform: translateY(80px);
    filter: alpha(opacity=0); }
  100% {
    -ms-transform: translateY(0);
    filter: alpha(opacity=100); } }
@keyframes fadeInUpAuto {
  0% {
    transform: translateY(80px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
.watch-block, .watch-block-show, .watch-block-shorts {
  height: 300px;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-position: center;
  text-align: center; }
  .watch-block h3, .watch-block-show h3, .watch-block-shorts h3 {
    color: #ecf0f1;
    font-size: 2.25rem; }
  .watch-block i, .watch-block-show i, .watch-block-shorts i {
    margin-top: 20px;
    color: #ecf0f1;
    font-size: 3.75rem;
    -webkit-transition-timing-function: "ease";
    -moz-transition-timing-function: "ease";
    -ms-transition-timing-function: "ease";
    -o-transition-timing-function: "ease";
    transition-timing-function: "ease";
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.watch-block:hover i, .watch-block-show:hover i, .watch-block-shorts:hover i {
  font-size: 4.5rem;
  -webkit-transition-timing-function: "ease";
  -moz-transition-timing-function: "ease";
  -ms-transition-timing-function: "ease";
  -o-transition-timing-function: "ease";
  transition-timing-function: "ease";
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.watch-block, .watch-block-show, .watch-block-shorts {
  cursor: pointer; }

.block-filler {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition-timing-function: "ease";
  -moz-transition-timing-function: "ease";
  -ms-transition-timing-function: "ease";
  -o-transition-timing-function: "ease";
  transition-timing-function: "ease";
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.block-filler:hover {
  background-color: rgba(121, 0, 0, 0.5);
  -webkit-transition-timing-function: "ease";
  -moz-transition-timing-function: "ease";
  -ms-transition-timing-function: "ease";
  -o-transition-timing-function: "ease";
  transition-timing-function: "ease";
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.watch-block-show {
  background-image: url("../img/filming-at-night.jpg");
  background-size: cover;
  background-position: center; }

.watch-block-shorts {
  background-image: url("../img/film-production.jpg");
  background-size: cover;
  background-position: center; }

/**
 * Buttons
 */
.btn-outline, .btn-outline:active, .btn-outline:visited {
  border-style: solid;
  border-width: 2px;
  border-color: #888;
  color: #888;
  padding: 8px 30px;
  -webkit-transition-timing-function: "ease";
  -moz-transition-timing-function: "ease";
  -ms-transition-timing-function: "ease";
  -o-transition-timing-function: "ease";
  transition-timing-function: "ease";
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none;
  margin: 10px 0px;
  display: inline-block; }

.btn-outline:hover, .btn-outline-white:hover {
  background-color: #888;
  color: #383838;
  text-decoration: none;
  -webkit-transition-timing-function: "ease";
  -moz-transition-timing-function: "ease";
  -ms-transition-timing-function: "ease";
  -o-transition-timing-function: "ease";
  transition-timing-function: "ease";
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s; }

.btn-outline-white, .btn-outline-white:active, .btn-outline-white:visited {
  border-style: solid;
  border-width: 2px;
  color: #ecf0f1;
  border-color: #ecf0f1;
  padding: 8px 30px;
  -webkit-transition-timing-function: "ease";
  -moz-transition-timing-function: "ease";
  -ms-transition-timing-function: "ease";
  -o-transition-timing-function: "ease";
  transition-timing-function: "ease";
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  text-decoration: none;
  margin: 10px 0px;
  display: inline-block; }

.btn-outline-white:hover {
  color: #888;
  background-color: #ecf0f1; }

.btn-see-down {
  font-size: 3em;
  color: #ecf0f1;
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .btn-see-down div {
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }

.btn-see-down:hover {
  cursor: pointer; }

/**
 * Sections
 */
.show-case {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url("../img/VideoProd.jpg");
  background-size: cover;
  background-position: center; }
  .show-case nav, .show-case .navbar {
    z-index: 1; }
  .show-case .big-picture {
    max-width: 100%;
    height: 100vh;
    z-index: 2;
    position: relative;
    overflow: hidden; }
    .show-case .big-picture .video-container {
      position: relative;
      overflow: hidden; }
    .show-case .big-picture .vert-centered-element {
      width: 100%;
      text-align: center;
      display: block; }
    .show-case .big-picture .big-filler {
      width: 100%;
      text-align: center;
      display: block;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      transform: translate(0%, -50%); }
      .show-case .big-picture .big-filler .showcase-text-1 {
        display: inline-block;
        -webkit-transform: translate(-6vw, -4vh);
        -moz-transform: translate(-6vw, -4vh);
        -ms-transform: translate(-6vw, -4vh);
        transform: translate(-6vw, -4vh); }
      .show-case .big-picture .big-filler .showcase-text-2 {
        display: inline-block;
        -webkit-transform: translate(6vw, 4vh);
        -moz-transform: translate(6vw, 4vh);
        -ms-transform: translate(6vw, 4vh);
        transform: translate(6vw, 4vh); }
    .show-case .big-picture div video {
      z-index: 3; }
    .show-case .big-picture div h2 {
      font-size: 4.5rem;
      color: #ecf0f1;
      margin: 0px 10px; }

.section-muted .container-fluid {
  background-color: #383838;
  text-align: left;
  padding: 20px 0px; }
.section-muted p {
  color: #888; }
.section-muted h3 {
  color: #000;
  -webkit-text-shadow: 0px 1.2px  #555;
  -moz-text-shadow: 0px 1.2px  #555;
  -ms-text-shadow: 0px 1.2px  #555;
  -o-text-shadow: 0px 1.2px  #555;
  text-shadow: 0px 1.2px  #555; }

.section-suggestions {
  background-color: #ecf0f1;
  background-size: cover;
  background-position: center; }
  .section-suggestions .text-box-outline {
    display: block;
    width: 100%;
    margin: 10px 0px;
    border-color: #383838;
    color: #383838; }
  .section-suggestions .text-box-outline:focus {
    background-color: #383838;
    color: #ecf0f1; }
  .section-suggestions .btn-outline-white {
    display: block;
    width: 100%;
    text-align: center;
    color: #383838;
    border-color: #383838;
    -webkit-transition-timing-function: "ease";
    -moz-transition-timing-function: "ease";
    -ms-transition-timing-function: "ease";
    -o-transition-timing-function: "ease";
    transition-timing-function: "ease";
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .section-suggestions .btn-outline-white:hover {
    background-color: #383838;
    color: #ecf0f1;
    -webkit-transition-timing-function: "ease";
    -moz-transition-timing-function: "ease";
    -ms-transition-timing-function: "ease";
    -o-transition-timing-function: "ease";
    transition-timing-function: "ease";
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .section-suggestions .container-fluid {
    padding: 0px;
    padding: 20px 0px; }
  .section-suggestions h3 {
    color: #383838;
    -webkit-text-shadow: 0 1.2px  #fff;
    -moz-text-shadow: 0 1.2px  #fff;
    -ms-text-shadow: 0 1.2px  #fff;
    -o-text-shadow: 0 1.2px  #fff;
    text-shadow: 0 1.2px  #fff; }
  .section-suggestions p {
    color: #ecf0f1; }

/**
 * Components
 */
.abs-centered-element {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.vert-centered-element {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%); }

.text-box-outline {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #ecf0f1;
  text-align: center;
  vertical-align: middle;
  color: #ecf0f1;
  font-size: 1rem;
  line-height: 1.61803rem;
  max-width: 65rem;
  max-width: inherit !important;
  padding: 8px;
  resize: none;
  margin: 10px 0px;
  display: inline-block; }

.text-box-outline:hover, .text-box-outline:focus {
  outline: none; }

.text-box-outline:focus {
  background-color: #ecf0f1;
  color: #555; }

.animation-delay {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  animation-delay: 0.25s; }

.animate-auto {
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s; }

.animate-infinite {
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.fade-in-up-auto {
  -webkit-animation-name: fadeInUpAuto;
  -moz-animation-name: fadeInUpAuto;
  -ms-animation-name: fadeInUpAuto;
  -o-animation-name: fadeInUpAuto;
  animation-name: fadeInUpAuto; }

.fade-in-down-auto {
  -webkit-animation-name: fadeInDownAuto;
  -moz-animation-name: fadeInDownAuto;
  -ms-animation-name: fadeInDownAuto;
  -o-animation-name: fadeInDownAuto;
  animation-name: fadeInDownAuto; }

.hide-init {
  display: none; }

/**
 * Nav Bar
 */
.navbar {
  min-width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }
  .navbar .nav-link {
    -webkit-transform: translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%); }

.nav-link {
  color: #ecf0f1;
  margin: 0 20px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition-timing-function: "ease";
  -moz-transition-timing-function: "ease";
  -ms-transition-timing-function: "ease";
  -o-transition-timing-function: "ease";
  transition-timing-function: "ease";
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: solid 2px rgba(255, 255, 255, 0); }

.nav-link:hover {
  cursor: pointer;
  -webkit-transition-timing-function: "ease";
  -moz-transition-timing-function: "ease";
  -ms-transition-timing-function: "ease";
  -o-transition-timing-function: "ease";
  transition-timing-function: "ease";
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: solid 2px white; }

.nav-links-left, .nav-links-right {
  display: inline-block;
  text-align: right;
  -webkit-transform: translate(0%, -32px);
  -moz-transform: translate(0%, -32px);
  -ms-transform: translate(0%, -32px);
  transform: translate(0%, -32px); }

.nav-links-right {
  text-align: left; }

.logo {
  display: inline-block;
  background-color: #790000;
  width: 64px;
  height: 64px;
  position: relative; }
  .logo p {
    text-align: left;
    color: #ecf0f1;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 25px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.logo:hover, .logo-small:hover {
  cursor: pointer; }

.logo-small {
  display: inline-block;
  background-color: #790000;
  width: 48px;
  height: 48px;
  position: relative;
  margin-right: 2vw; }
  .logo-small p {
    text-align: left;
    color: #ecf0f1;
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 25px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.navbar-scroll {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  background-color: #ecf0f1;
  height: 48px; }
  .navbar-scroll .link-container {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    height: 48px; }
  .navbar-scroll .nav-link-outer {
    display: inline-block;
    -webkit-transition-timing-function: "ease";
    -moz-transition-timing-function: "ease";
    -ms-transition-timing-function: "ease";
    -o-transition-timing-function: "ease";
    transition-timing-function: "ease";
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin: 0;
    text-align: center; }
  .navbar-scroll .nav-link-outer:hover {
    background-color: #888;
    -webkit-transition-timing-function: "ease";
    -moz-transition-timing-function: "ease";
    -ms-transition-timing-function: "ease";
    -o-transition-timing-function: "ease";
    transition-timing-function: "ease";
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  .navbar-scroll .nav-link {
    font-size: 2vw;
    color: #555;
    margin: 0 2vw;
    top: 0;
    line-height: 48px;
    border-width: 0; }
  .navbar-scroll .nav-link:hover {
    border-width: 0; }
  .navbar-scroll .nav-ham-toggle {
    font-size: 24px;
    top: 24px;
    float: right;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  .navbar-scroll .collapseable-menu .nav-link-outer {
    display: block; }
  .navbar-scroll .collapseable-menu .nav-link {
    line-height: inherit;
    font-size: 1.5rem; }
  .navbar-scroll .nav-ham-toggle:hover {
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
