<span id="page-content-start"></span>

<section class="normal-section">
  <div class="container">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active">Contents</li>
      </ol>
      <h2>Contents</h2>
      
    </div>
  </div>
</section>

<section class="normal-section">
  <div class="container-fluid">
    <%= render @contents %>
  </div>
</section>