<span id="page-content-start"></span>

<section class="normal-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>New Content</h3>
      </div>
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Contents', contents_path %></li>
          <li class="active">New</li>
        </ol>
      </div>
        <%= render 'form' %>
    </div>
  </div>
</section>