/**
 * README
 * main.scss -> main.css
 * color pallete:
 */

/**
 * Color Pallete
 */
$white:#eee;
$paragraph-margin:10px;

@mixin border-radius($radius: 10px) {
	-webkit-border-radius: $radius;
	-moz-border-radius:    $radius;
	-ms-border-radius:     $radius;
	-o-border-radius:      $radius;
	border-radius:         $radius;
}

body {
	background-color: $white;
}

p {
	margin: $paragraph-margin;
	background-color: #555;
	@include border-radius;
}