/**
 * Base
 */

body {
	font-family: 'Lato', 'Droid Serif';
	background-color: $color-muted-dark;
}

select {
	background-color: $color-muted-dark;
	color: $color-white;
	border-color: $color-white;
	border-width: $border-width-default;
	@include border-radius($border-radius-default);
	@include appearance(none);

	option {
		background-color: $color-muted-dark;
	}
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

select:focus {
	outline: none;
}

table {
	width: 100%;

	td, th {
		padding: 10px;
	}
}

blockquote {
	border-color: $color-muted-light;
	border-width: 2px;
}

ol {
	color: $color-muted-light;
}

li {
	color: $color-muted-light;
}

mark {
	background-color: $color-highlighted;
}

h1 {
	margin: 0px 0px;
 	@include font-size($font-xx-large);
 	//font-size: $font-x-large;
 	color: $color-white;
}

 h3 {
 	margin: 0px 0px;
 	@include font-size($font-x-large);
 	//font-size: $font-x-large;
 	color: $color-white;
 }

 h2 {
 	margin: 0px 0px;
  	color: $color-white;
 	@include font-size($font-xx-large);
 }

 h4 {
 	margin: 0px 0px;
  	color: $color-white;
 	@include font-size($font-large);
 }

  h5 {
  	margin: 0px 0px;
  	color: $color-white;
 	//font-size: $font-medium;
 	@include font-size($font-medium);
 }

 p {
 	@include font-size($font-medium);
 	color: $color-muted-light;
 }

 img {
 	margin: $margin-default-v 0px;
 }

 row {
 	padding: $padding-standard-vert;
 }

 video  {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	@include transform(translate(-50%, -50%));
 	min-width:  100%;
 	min-height: 100%;
 	width:      auto;
 	height:     auto;
 	overflow:   hidden;
 }

 input[type="submit"] {
 	background:transparent;
 }

 input[type="date"] {
 	padding-bottom: $padding-btn-v - 1px;
 	padding-top: $padding-btn-v - 1px;
 }