
<span id="page-content-start"></span>

<section class="normal-section">
  <div class="container">
   <h2>Videos</h2>
   <div class="btn-group">
    <input type="text" class="text-box-outline"></input>
    <a class="btn-outline-white" href="#"><span class="glyphicon glyphicon-search"></span></a>
  </div>      
  <div class="selectDiv">
    <select name="year">
      <option value = "14">Shows</option>
      <option value = "15">Shorts</option>
    </select>
  </div>  
  <div class="selectDiv">
    <select name="year">
      <option value = "14">2014-2015</option>
      <option value = "15">2015-2016</option>
      <option value = "16">2016-2017</option>
    </select>
  </div>
  <div class="selectDiv">
    <select name="show-num">
      <option value = "14">Show 1</option>
      <option value = "14">Show 2</option>
      <option value = "14">Show 3</option>
      <option value = "14">Show 4</option>
      <option value = "14">Show 5</option>
    </select>
  </div>
  <div class="selectDiv">
    <select name="year">
      <option value = "14">Less than 5 min</option>
      <option value = "14">Between 5-10 min</option>
      <option value = "15">Greater than 10 min</option>
    </select>
  </div>
  <div class="selectDiv">
    <select name="year">
      <option value = "14">Relevance</option>
      <option value = "15">Date Created</option>
      <option value = "16">Views</option>
    </select>
  </div>
</div>
</section>

<section class="normal-section">
  <div class="container-fluid">
    <div class="row">

      <% counter = 1
      @videos.each do |video| 
      # Parse video id
      start_pos = video.link.index("v=")+2;
      end_pos = (video.link[start_pos..video.link.length].index('&') == nil) ? video.link.length : video.link[start_pos..video.link.length].index('&') - 1
      video_id = video.link[start_pos..(start_pos+end_pos)]
      %>
      <%= link_to video do %>
      <div class="col-md-6 col-sm-12 col-xs-12 watch-block wow flipInX" style="background-image: url('http://img.youtube.com/vi/<%= video_id %>/maxresdefault.jpg')">
        <div class="block-filler">
          <div class="abs-centered-element">
           <h4 class="block-header-text"><%= truncate(video.title, length: 30) %></h4>
           <i class="fa fa-play"></i>
         </div>
       </div>
     </div>
     <% end %>
     <% if (counter % 2 == 0) %>
   </div><div class="row">
   <% end %>
   <% 
   counter+=1
   end %>
 </div>
</div>
</section>
