<section class="normal-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><%= link_to 'Home', root_path %></li>
          <li class="active">Contact</li>
        </ol>
      </div>
      <div class="col-md-8">
        <input type="text" class="text-box-outline wow fadeInUp fill-width" placeholder="Full Name" />
        <input type="text" class="text-box-outline wow fadeInUp fill-width" placeholder="Subject" />
        <textarea rows=5 class="text-box-outline wow fadeInUp fill-width" placeholder="Type message here..."></textarea>
        <a href="#" class="btn-outline-white wow fadeInUp fill-width">Send Message</a>
      </div>
      <div class="col-md-4">
        <h3>Contact Info</h3>
        <p>
          Email: apachenews2016@gmail.com
          Phone: 626-123-4567
        </p>
      </div>
    </div>
  </div>
</section>