<section class="show-case">

 <div class="big-picture">

  <%= render :partial => "shared/bignavbar" %>

  <video class="show-case-video" autoplay loop muted>
    <source src="media/Show2Intro_4.mp4" type="video/mp4">
      <source src="Show2Intro_4.webm" type="video/webm">
      </video>

      <div class="big-filler align-vert">
        <div class="vert-centered-element">
          <div class="wow fadeInDown" data-wow-offset="-200"><h2 class="showcase-text-1">We Inform...</h2></div>
          <div class="wow fadeInUp" data-wow-offset="-200"><h2 class="showcase-text-2">...and Entertain</h2></div>

        </div>
        <div class="btn-see-down wow bounce animate-infinite" data-wow-offset="-400">
          <div class="glyphicon glyphicon-chevron-down" data-wow-offset="-400"></div>
        </div>
      </div>
    </div>
  </section>

  <span id="page-content-start"></span>

  <section>
    <div class="container-fluid">

     <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 watch-block-show wow flipInX">
        <div class="block-filler">
          <div class="abs-centered-element">
           <h3 class="block-header-text">Watch Show</h3>
           <i class="fa fa-play"></i>
         </div>
       </div>
     </div>
     <div class="col-md-6 col-sm-12 col-xs-12 watch-block-shorts wow flipInX animation-delay">
      <div class="block-filler">
        <div class="abs-centered-element">
         <h3 class="block-header-text">Watch Shorts</h3>
         <i class="fa fa-play"></i>
       </div>
     </div>
   </div>
 </div>
</div>
</section>

<section class="section-muted">
  <div class="container-fluid">
    <div class="container wow fadeInUp">

      <div class="row">
        <div class="col-md-8 col-sm-12 block-muted hideme">
          <h3 class="block-header-pressed-text"><i class="fa fa-check-square-o"></i> Want to Join?</h3>
          <p class="pressed text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <%= link_to '/join', :class => "btn-outline", :style => "padding-left: 25px;" do %>
            <i class="fa fa-check"></i> Learn More
            <% end %>
          </div>
          <div class="col-md-4 col-sm-12">
            <%= image_tag 'unnamed.jpg', class: ['img-responsive']  %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-suggestions">
    <div class="container-fluid hideme">
      <div class="container">
        <h3 class="block-header-text wow fadeInRight"><i class="fa fa-comments"></i> Have Suggestions?</h3>
        <div class="">
          <input type="text" class="text-box-outline wow fadeInUp" placeholder="Full Name" />
          <textarea rows=5 class="text-box-outline wow fadeInUp" placeholder="Type suggestions here..."></textarea>
          <a href="#" class="btn-outline-white wow fadeInUp">Suggest</a>
        </div>
      </div>
    </div>  
  </section>