<section>

  <div class="show-case about-img">

    <%= render :partial => "shared/bignavbar" %>

    <div class="big-filler">
      <div class="vert-centered-element">
        <div class="wow fadeInUp" data-wow-offset="-200"><h2 class="showcase-text">Join?</h2></div>
        <a href="#" class="btn-outline-white really-big-btn" style="padding-left: 25px;"><i class="fa fa-check"></i> Join Now</a>
      </div>
      <div class="btn-see-down wow bounce animate-infinite" data-wow-offset="-400">
        <div class="glyphicon glyphicon-chevron-down" data-wow-offset="-400"></div>
      </div>
    </div>
  </div>

</section>

<span id="page-content-start"></span>

<section class="normal-section space-bottom-l">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><%= link_to 'Home', root_path %></li>
          <li class="about-person.html">Join</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= markdown(Content.find(6).text) %>
      </div>
    </div>
  </div>
</section>

<section class="white-section">
  <div class="container text-centered">
    <a href="#" class="btn-outline-primary really-big-btn" style="padding-left: 25px;"><i class="fa fa-check"></i> Join Now</a>
  </div>
</section>