<span id="page-content-start"></span>

<section class="normal-section">
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-12 space-bottom">
        <ol class="breadcrumb">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Videos', videos_path %></li>
          <li class="active">Live Stream</li>
        </ol>
      </div>      <div class="col-md-12 wow flipInX animation-delay space-bottom">
      <div class="block-filler-transparent videoWrapper">
        <iframe class="video-iframe" src="https://www.youtube.com/embed/live_stream?channel=UC6G_LCSmfd9q34BMao87E0g" frameborder="0" allowfullscreen></iframe>
     </div>
   </div>

 </div>
</div>

<div class="container">
  <div class="col-xs-12">
    <h2>APN Live Stream</h2>
    </div>
</div>
</section>



