/**
 * Buttons
 */

.really-big-btn {
	margin: 80px !important;
}

.btn-outline, .btn-outline:active, .btn-outline:visited  {
	border-style: solid;
	border-width: $border-width-default;
	border-color: $color-muted-light;
	color:        $color-muted-light;
	padding:      $padding-btn-v $padding-btn-h;
	@include font-size($font-medium);
	@include transition($time-hover-fast, "ease");
	text-decoration: none;
	margin: $margin-default-v 0px;
	display: inline-block;
	text-align: center;
	@include border-radius($border-radius-default);
}

.btn-outline:hover {
	background-color: $color-muted-light;
	color: $color-muted-dark;
	text-decoration: none;
	@include transition($time-hover-fast, "ease");
}

.btn-outline-white, .btn-outline-white:active, .btn-outline-white:visited {
	@extend .btn-outline;
	color:        $color-white;
	border-color: $color-white;
}

.btn-outline-white:hover {
	@extend .btn-outline:hover;
	color: $color-muted-light;
	background-color: $color-white;
}

.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary:visited {
	@extend .btn-outline;
	color:        $color-primary;
	border-color: $color-primary;
}

.btn-outline-primary:hover {
	@extend .btn-outline:hover;
	color: $color-white;
	background-color: $color-primary;
}

.btn-see-down {
	font-size: 3em;
	color: $color-white;
	position: absolute;
	top: 85%;
	left: 50%;
	@include transform(translate(-50%,-50%));

	div {
		@include transform(translate(-50%,0%));
	}

}

.btn-see-down:hover {
	cursor: pointer;
}