/**
 * Components
 */

.alert, .notice {
	margin: 0;
	padding: 0;
}

#error_explanation {
	h2 {
		@include font-size($font-large);
	}

	ul {
		li {
			color: $color-muted-light;
		}
	}
}

.space-bottom {
	padding-bottom: $padding-standard-vert;
}

.color-muted {
	color: $color-muted;
}

.table-header {
	color: $color-white;

	p {
		color: $color-white;
	}
}

.fill-width {
	width: 100%;
}

.about-img {
	background-image: url('film-production.jpg');
	text-align: center;
}

.breadcrumb {
	margin-bottom: 0px;
	padding: 0px;
	background: transparent;
}

.breadcrumb li  {
	color: $color-muted-light;
}

.btn-group-standard :nth-child(n) {
	@include border-radius(0px);
	border-right-width: 0px;
	border-left-width: 0px;
}

.btn-group-standard :first-child {
	@include border-radius($border-radius-default 0px 0px $border-radius-default);
	border-left-width: $border-width-default;
}

.btn-group-standard :last-child {
	@include border-radius(0px $border-radius-default $border-radius-default 0px);
	border-left-width: $border-width-default;
	border-right-width: $border-width-default;
}

.btn-group {

	height: 45px;
	margin: 0px 0px 20px 0px;
	width: 100%;

	.btn-outline-white {
		display: inline-block;
		position: absolute;
		width: 10%;
		right: 0;
		
	}

	.text-box-outline {
		display: inline-block;
		position: absolute;
		width: 90%;
		border-right: 0px;
		text-align: left;
		padding-left: 15px;
	}
}

.btn-group :nth-child(n) {
	@include border-radius(0px);
	border-right-width: 0px;
	border-left-width: 0px;
}

.btn-group :first-child {
	@include border-radius($border-radius-default 0px 0px $border-radius-default);
	border-left-width: $border-width-default;
}

.btn-group :last-child {
	@include border-radius(0px $border-radius-default $border-radius-default 0px);
	border-left-width: $border-width-default;
	border-right-width: $border-width-default;
}

.abs-centered-element {
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
}

.vert-centered-element {
	position: absolute;
	top: 50%;
	@include transform(translate(0%,-50%));
}

.text-box-outline {
	background-color: transparent;
	border-style: solid;
	border-width: $border-width-default;
	border-color: $color-white;
	text-align: center;
	vertical-align: middle;
	color: $color-white;
	@include font-size($font-medium);
	max-width: inherit !important;
	padding: $padding-btn-v;
	resize: none;
	margin: $margin-default-v 0px;
	display: inline-block;

	@include border-radius($border-radius-default);
}

.text-box-outline:hover, .text-box-outline:focus {
	outline: none;
}

.text-box-outline:focus {
	background-color: $color-white;
	color: $color-muted;
}

.animation-delay {
	@include animation-delay($time-animation-delay);
}

.animate-auto {
	@include animation-iteration-count(1);
	@include animation-timing-function(ease);
	@include animation-duration($time-animation-default);
}

.animate-infinite {
	@include animation-iteration-count(infinite);
}

.fade-in-up-auto {
	@include animation-name(fadeInUpAuto);
}

.fade-in-down-auto {
	@include animation-name(fadeInDownAuto);
}

.hide-init {
	display: none;
}

.text-centered {
	text-align: center;
}