/**
 * Sections
 */

.section-search-forms {
	padding: 10px 0px;
}

.white-section {
	background-color: $color-white;
}

.normal-section {

	padding: 40px 0px;

	.jumbotron {
		background-color: $color-muted-dark;
	}
}

.show-case {
	text-align: center;
	width:      100%;
	height:     100vh;

	background-image:    url("VideoProd.jpg");
	background-size:     cover;
	background-position: center;
	background-attachment: fixed;

	nav, .navbar {
		z-index: 1;
	}

	.video-container {
		position: relative;
		overflow: hidden;
	}

	.vert-centered-element {
		width:      100%;
		text-align: center;
		display:    block;
	}

	.big-filler {
		width:      100%;
		text-align: center;
		display:    block;

		background-color: $color-black-t50;
		height:           100%;
		@include align-vert();

		.showcase-text-1 {
			display: inline-block;
			@include transform(translate(-6vw,-4vh));
		}

		.showcase-text-2 {
			display: inline-block;
			@include transform(translate(6vw,4vh));
		}
	}	

	h2  {
				font-size: $font-x-huge;
				color: $color-white;
				margin: 0px $margin-default-v;
			}

	.big-picture {

		max-width:        100%;
		height:           100vh;
		z-index:          2;
		position: relative;
		overflow: hidden;

		

		div {


			video {
				z-index: 3;
			}
			
			
	
			
		}
	}

}

.section-muted {
	.container-fluid {
		background-color: $color-muted-dark;
		text-align: left;
		padding: $padding-standard-vert 0px;
	}

	p {
		color: $color-muted-light;
	}

	h3 {
		color: $color-black;
		@include text-shadow(0px,1.2px,$color-muted);
	}
}

.section-suggestions {
	//background-image:    url("../img/unnamed.jpg");
	background-color: $color-white;
	background-size:     cover;
	background-position: center;

	.text-box-outline {
		display: block;
		width: 100%;
		margin: $margin-default-v 0px;
		border-color: $color-muted-dark;
		color: $color-muted-dark;
	}

	.text-box-outline:focus {
		background-color: $color-muted-dark;
		color: $color-white;
	}

	.btn-outline-white {
		display: block;
		width: 100%;
		text-align: center;
		color: $color-muted-dark;
		border-color: $color-muted-dark;
		@include transition($time-hover, "ease");
	}

	.btn-outline-white:hover {
		background-color: $color-muted-dark;
		color: $color-white;
		@include transition($time-hover, "ease");
	}

	.container-fluid {
		padding: 0px;
		//background-color: $color-black-t50;
		padding: $padding-standard-vert 0px;
	}

	h3 {
		//color: $color-white;
		color: $color-muted-dark;
		@include text-shadow(0,1.2px,#fff);
	}

	p {
		color: $color-white;
	}
}



