/**
 * Base
 */

body {
	font-family: 'Lato', 'Droid Serif';
}

 h3 {
 	margin: 0px 0px;
 	@include font-size($font-x-large);
 }

 p {
 	@include font-size($font-medium);
 }

 img {
 	margin: $margin-default-v 0px;
 }

 row {
 	padding: $padding-standard-vert;
 }