/**
 * Base
 */

body {
	font-family: 'Lato', 'Droid Serif';
	background-color: $color-muted-dark;
}

 h3 {
 	margin: 0px 0px;
 	@include font-size($font-x-large);
 }

 p {
 	@include font-size($font-medium);
 }

 img {
 	margin: $margin-default-v 0px;
 }

 row {
 	padding: $padding-standard-vert;
 }

 video  {
 	position: absolute;
 	top: 50%;
 	left: 50%;
 	@include transform(translate(-50%, -50%));
 	min-width:  100%;
 	min-height: 100%;
 	width:      auto;
 	height:     auto;
 	overflow:   hidden;
 }