@mixin transform($trans) {
	-webkit-transform: $trans;
	-moz-transform: $trans;
	-ms-transform: $trans;
	transform: $trans;
}

@mixin linear-gradient($col1, $col2, $img:"") {
	background: -webkit-linear-gradient($col1, $col2), $img;
	background: -o-linear-gradient($col1, $col2), $img;
	background: -moz-linear-gradient($col1, $col2), $img;
	background: linear-gradient($col1, $col2), $img;
}

@mixin transition($time, $ease) {
	-webkit-transition-timing-function: $ease;
	-moz-transition-timing-function: $ease;
	-o-transition-timing-function: $ease;
	transition-timing-function: $ease;
	-moz-transition: $time;
	-webkit-transition: $time;
	-o-transition: $time;
	transition: $time;
}

@mixin box-shadow($h,$v,$color,$blur:"",$spread:"") {
	-webkit-box-shadow: $h $v unquote($blur) unquote($spread) $color;
	-moz-box-shadow: $h $v unquote($blur) unquote($spread) $color;
	-o-box-shadow: $h $v unquote($blur) unquote($spread) $color;
	box-shadow: $h $v unquote($blur) unquote($spread) $color;
}

@mixin text-shadow($h,$v,$color,$blur:"") {
	-webkit-text-shadow: $h $v unquote($blur) $color;
	-moz-text-shadow: $h $v unquote($blur) $color;
	-o-text-shadow: $h $v unquote($blur) $color;
	text-shadow: $h $v unquote($blur) $color;
}

@mixin font-size($font-size) {
	font-size: $font-size;
 	line-height: calc-lh-from-fs($font-size);
 	max-width: calc-lw-from-fs($font-size);
}