/**
 * Variables
 */

/**
 * Ratios
 */
$golden-ratio: 1.61803398875;

/**
 * Colors
 */

$color-primary:     #790000;
$color-primary-t50: rgba(121,0,0,0.5);

$color-muted:       #555;
$color-muted-light: #888;
$color-muted-dark:  #383838;

$color-white:     #ecf0f1;
$color-black:     #000;
$color-black-t50: rgba(0,0,0,0.5);

$color-transparent: rgba(0,0,0,0);

/**
 * Fonts
 */
$base-font-size: 16px;
$font-xx-small: px-to-rem(5px);
$font-x-small:  px-to-rem(7px);
$font-small:    px-to-rem(11px);
$font-medium:   px-to-rem(16px);
$font-large:    px-to-rem(24px);
$font-x-large:  px-to-rem(36px);
$font-xx-large: px-to-rem(48px);
$font-huge:     px-to-rem(60px);
$font-x-huge:   px-to-rem(72px);

$font-primary: Arial;

/**
 * Dimensions
 */

$block-height-default: 300px;
$border-width-default: 2px;

/**
 * Padding
 */
$padding-standard-vert: 20px;
$padding-standard-hor:  20px;
$padding-btn-v:         8px;
$padding-btn-h:         30px;

/**
 * Margin
 */
$margin-default-v: 10px;
$margin-default-h: 10px;
$margin-default-p-v: 25px;

$margin-nav-link-h: 20px;
$margin-nav-link-small-h: 2vw;

/**
 * Times
 */

$time-hover-color: 0.5s;
$time-hover: 0.5s;
$time-hover-fast: 0.1s;

$time-animation-delay: 0.25s;
$time-animation-default: 1s;

/**
 * Other
 */
$show-case-video: "Show2Intro_4";