/**
 * Variables
 */

/**
 * Colors
 */

$color-primary: #790000;
$color-white:   #fff;

/**
 * Fonts
 */
$font-xx-small: 5px;
$font-x-small:  7px;
$font-small:    11px;
$font-medium:   16px;
$font-large:    24px;
$font-x-large:  36px;
$font-xx-large: 54px;

$font-primary: Arial;

/**
 * Dimensions
 */

$block-height-default: 250px;